<%= form_for :session, url: session_path do |form| %>
  <%= form.label :email, "Email Address", class: "visually-hidden" %>
  <%= form.text_field :email, type: 'email', placeholder: "hello@example.com", class: "form-control" %>

  <%= form.label :password, "Password", class: "visually-hidden" %>
  <%= form.password_field :password, type: 'password', class: "mt-2 form-control" %>

  <%= form.submit "Log me in!", data: {disable_with: "Let's do this…"}, class: "mt-2 w-100 btn btn-primary" %>

  <% if Clearance.configuration.allow_sign_up? %>
    <div class="mt-3">
      <%= link_to "Create an account", sign_up_path %>
    </div>
  <% end %>
  <div class="mt-2">
    Forgot your password? <%= link_to "Reset it →", new_password_path %>
  </div>
<% end %>

