<%= form_for :session, url: session_path, html: { class: "ui form" } do |form| %>
  <div class="field">
    <!-- <%= form.label :email %> -->
    <%= form.text_field :email, type: 'email', placeholder: "Your email" %>
  </div>

  <div class="field">
    <!-- <%= form.label :password %> -->
    <%= form.password_field :password, placeholder: "Your password" %>
  </div>


  <div class="field">
    <%= form.submit "Log me in!", data: {disable_with: "Let's do this…"}, class: "fluid ui primary button" %>
  </div>

  <% if Clearance.configuration.allow_sign_up? %>
    <%= link_to "Create an account", sign_up_path, class: "fluid ui button basic" %><br>
  <% end %>
  <p>
    Forgot your password? <%= link_to "Reset it →", new_password_path %>
  </p>
<% end %>
