<h1 class="ui header"><%= @listing.title %></h1>

<% if @listing.active? %>
  <p>
  <% if @listing.bids.present? %>
    <%= pluralize @listing.bids.count, "bid" %> on this item.
    The current price is
    <strong><%= number_to_currency @listing.winning_bid, unit: "£" %></strong>.
  <% else %>
    No bids yet. Feeling lucky?
  <% end %>
  </p>

  <p>
    <%= link_to "Bid now", new_listing_bid_path(@listing), class: "ui primary button" %>
  </p>

<% else %>
  <p>
    Awww, this listing hasn't started, so you can't make a bid yet 🐼
  </p>
<% end %>


<div class="ui grid listing">
  <div class="eight wide column">
    <%= image_tag @listing.image.url(:medium) %>
  </div>

  <div class="eight wide column">
    <h3 class="ui header">Description</h3>

    <p>
      <%= markdown @listing.description %>
    </p>
  </div>

  <div class="sixteen wide column">

  </div>
</div>

<% if current_user.admin? && @listing.bids.order(:created_at).count %>
<h2 class="ui header"> Bid History</h2>
<table class="ui celled table">
  <thead>
    <tr><th>Time</th>
    <th>User</th>
    <th>Bid</th>
  </tr></thead>
  <tbody>
    <% @listing.bids.each do |bid| %>
    <tr>
      <td><%= bid.created_at.to_s :short %></td>
      <td><%= bid.user.email %></td>
      <td><%= number_to_currency bid.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>