<%= form_for @user, html: { class: "ui form" } do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', placeholder: 'you@example.com' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.submit "Sign up", class: "fluid ui primary button"  %>
  </div>

  <p>
    Already got an account? <%= link_to "Sign in →", sign_in_path %>
  </p>
<% end %>
