<div class="ui link cards">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), class: "ui card" do %>
      <div class="image">
        <%= image_tag listing.image.url(:medium) %>
      </div>
      <div class="content">
        <div class="header"><%= listing.title %></div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <% if listing.active? %>
            <% if listing.end_time > Time.now %>
              Ends in <%= distance_of_time_in_words(Time.now, listing.end_time) %>
            <% else %>
              Ended
            <% end %>
          <% else %>
            Not Active
          <% end %>
        </span>
        <span>
          <i class="hand paper outline icon"></i>
          <%= pluralize listing.bids.count, 'Bid' %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
