<div class="row">
  <div class="col-md-6">
    <h1 class="display-5">
      💰 Auction Central
    </h1>

    <p>
    We have <mark><strong><%= pluralize @listings.size, "item" %></strong></mark> for sale right now.
    </p>

    <p>
      You can browse all the items below and click the cards to view further details. You can bid
      as many times as you like on an item. Highest bidder wins at the end of the auction, at which
      point IT and Finance will approach you in order to take payment.
    </p>

    <p>
      Happy bidding! 🤑
    </p>
  </div>
  <div class="col-md-6">
    <div class="callout callout-primary bg-white">
      <h5>Rulez</h5>
      <p>
        Once an item has been sold, FreeAgent takes no further responsibility and all risk lies with the buyer
      </p>
      <p>
        All devices come with a charger, unless stated otherwise.
      </p>
      <p>
        If you have any questions on any of the items, or would like to arrange a viewing, please
        raise a ticket through <a href="https://freeagent.freshservice.com/">Fresh Service</a>.
      </p>
    </div>
  </div>
<div>

<div class="row bg-white mt-4">
  <div class="btn-group py-3 border" role="group" aria-label="Categories">
    <div class="btn-group" role="group">
      <button id="category" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= humanized_category(params[:category]) %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="category">
        <% categories_options_for_select.each do |name, category| %>
        <li>
          <%= link_to name, root_path(category: category, condition: params[:condition]), class: "dropdown-item" %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="btn-group ms-2" role="group">
      <button id="condition" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= humanized_condition(params[:condition]) %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="condition">
        <% conditon_options_for_select.each do |name, condition| %>
        <li>
          <%= link_to name, root_path(condition: condition, category: params[:category]), class: "dropdown-item" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row mt-3">
  <% if @listings.empty? %>
    <p>There are no auctions. Come back soon!</p>
  <% else %>
    <%= render 'listings' %>
  <% end %>
</div>