<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div class="ui fixed menu">
    <div class="ui container">
      <%= link_to image_tag("freeBay-logo.svg"), root_path, class: "logo" %>
      <div class="right menu">
        <% if signed_in? %>
          <div class="ui dropdown item">
            <%= current_user.name %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <%= link_to "My Bids", user_bids_path(current_user) %>
              </div>
              <div class="item">
                <%= link_to "Sign Out ðŸ‘‹ðŸ½", sign_out_path, method: :delete %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui main container">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> closable">
        <i class="close icon"></i>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <h4>Built with <span style="margin-left:2px; position:relative; bottom:-3px; font-size:1.5em;">ðŸ’š</span> at FreeAgent</h4>
      <p style="opacity:0.4;">Hack Days Feb 2018</p>
    </div>
  </div>
</body>
</html>
