<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', 'session', media: 'all', 'data-turbo-track': 'reload' %>

  <%= csrf_meta_tag %>
  <title>
    💰 FreeBay
  </title>
</head>
<body>

  <main class="form-signin">
    <% unless flash.empty? %>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible">
          <%= h value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
